## Import the BTCUSD data

In [139]:
import pandas as pd

df_M1 = pd.read_csv('gemini_BTCUSD_2019_1min.csv',header=1) 
df_M1.tail(11)

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
483815,1546301400000,2019-01-01 00:10:00,BTCUSD,3686.85,3688.85,3686.85,3688.85,0.569073
483816,1546301340000,2019-01-01 00:09:00,BTCUSD,3686.00,3686.85,3686.00,3686.85,2.959043
483817,1546301280000,2019-01-01 00:08:00,BTCUSD,3689.00,3689.00,3685.35,3686.00,2.172590
483818,1546301220000,2019-01-01 00:07:00,BTCUSD,3689.01,3689.01,3689.00,3689.00,5.004713
483819,1546301160000,2019-01-01 00:06:00,BTCUSD,3690.85,3690.85,3689.01,3689.01,0.008248
483820,1546301100000,2019-01-01 00:05:00,BTCUSD,3691.21,3691.21,3688.73,3690.85,0.098107
483821,1546301040000,2019-01-01 00:04:00,BTCUSD,3691.21,3691.21,3691.21,3691.21,0.000000
483822,1546300980000,2019-01-01 00:03:00,BTCUSD,3689.50,3691.21,3689.50,3691.21,1.030911
483823,1546300920000,2019-01-01 00:02:00,BTCUSD,3689.67,3689.67,3689.50,3689.50,0.001103
483824,1546300860000,2019-01-01 00:01:00,BTCUSD,3695.00,3695.00,3689.67,3689.67,0.004174
483825,1546300800000,2019-01-01 00:00:00,BTCUSD,3692.35,3695.00,3692.35,3695.00,0.837772

### set "Date" column as pandas.DatetimeIndex

In [140]:
#set column 'time' from type array to datetime
df_M1['Date'] = pd.to_datetime(df_M1['Date'])
#set column 'time' to index*
df_M1 = df_M1.set_index('Date')
df_M1.tail(10)

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2019-01-01 00:09:00,1546301340000,BTCUSD,3686.00,3686.85,3686.00,3686.85,2.959043
2019-01-01 00:08:00,1546301280000,BTCUSD,3689.00,3689.00,3685.35,3686.00,2.172590
2019-01-01 00:07:00,1546301220000,BTCUSD,3689.01,3689.01,3689.00,3689.00,5.004713
2019-01-01 00:06:00,1546301160000,BTCUSD,3690.85,3690.85,3689.01,3689.01,0.008248
2019-01-01 00:05:00,1546301100000,BTCUSD,3691.21,3691.21,3688.73,3690.85,0.098107
2019-01-01 00:04:00,1546301040000,BTCUSD,3691.21,3691.21,3691.21,3691.21,0.000000
2019-01-01 00:03:00,1546300980000,BTCUSD,3689.50,3691.21,3689.50,3691.21,1.030911
2019-01-01 00:02:00,1546300920000,BTCUSD,3689.67,3689.67,3689.50,3689.50,0.001103
2019-01-01 00:01:00,1546300860000,BTCUSD,3695.00,3695.00,3689.67,3689.67,0.004174
2019-01-01 00:00:00,1546300800000,BTCUSD,3692.35,3695.00,3692.35,3695.00,0.837772

### change timeframe

In [141]:
#drop and sort 
dataframe_M1  = df_M1.resample('1Min').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum'})
dataframe_M5  = df_M1.resample('5Min').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum'})
dataframe_M5_w_symbol  = df_M1.resample('5Min').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum','Symbol':'last'})
dataframe_M15 = df_M1.resample('15Min').agg({'Open': 'first', 'High': 'max', 'Low': 'min','Close': 'last','Volume':'sum'})
dataframe_M30 = df_M1.resample('30Min').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum'})
dataframe_H1  = df_M1.resample('60Min').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum'})
dataframe_H4  = df_M1.resample('240Min').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum'})
dataframe_1D  = df_M1.resample('1D').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum'})
dataframe_1W  = df_M1.resample('1W').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum'})
dataframe_1B = df_M1.resample('1B').agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last','Volume':'sum'})

## Show result

In [142]:
#dataframe wihtout Unix Timestamp and Symbol
dataframe_M1.head(11)

                        Open     High      Low    Close    Volume
Date
2019-01-01 00:00:00  3692.35  3695.00  3692.35  3695.00  0.837772
2019-01-01 00:01:00  3695.00  3695.00  3689.67  3689.67  0.004174
2019-01-01 00:02:00  3689.67  3689.67  3689.50  3689.50  0.001103
2019-01-01 00:03:00  3689.50  3691.21  3689.50  3691.21  1.030911
2019-01-01 00:04:00  3691.21  3691.21  3691.21  3691.21  0.000000
2019-01-01 00:05:00  3691.21  3691.21  3688.73  3690.85  0.098107
2019-01-01 00:06:00  3690.85  3690.85  3689.01  3689.01  0.008248
2019-01-01 00:07:00  3689.01  3689.01  3689.00  3689.00  5.004713
2019-01-01 00:08:00  3689.00  3689.00  3685.35  3686.00  2.172590
2019-01-01 00:09:00  3686.00  3686.85  3686.00  3686.85  2.959043
2019-01-01 00:10:00  3686.85  3688.85  3686.85  3688.85  0.569073

In [143]:
dataframe_M5.head(3)

                        Open     High      Low    Close     Volume
Date
2019-01-01 00:00:00  3692.35  3695.00  3689.50  3691.21   1.873960
2019-01-01 00:05:00  3691.21  3691.21  3685.35  3686.85  10.242701
2019-01-01 00:10:00  3686.85  3689.00  3686.85  3689.00   0.762543

In [144]:
dataframe_M5_w_symbol.head(3)

                        Open     High      Low    Close     Volume  Symbol
Date
2019-01-01 00:00:00  3692.35  3695.00  3689.50  3691.21   1.873960  BTCUSD
2019-01-01 00:05:00  3691.21  3691.21  3685.35  3686.85  10.242701  BTCUSD
2019-01-01 00:10:00  3686.85  3689.00  3686.85  3689.00   0.762543  BTCUSD

In [145]:
dataframe_1D.head(3)

               Open     High      Low    Close       Volume
Date
2019-01-01  3692.35  3840.85  3577.18  3823.63  3155.163819
2019-01-02  3823.63  3911.99  3763.85  3890.45  3924.914249
2019-01-03  3890.45  3894.17  3760.10  3786.91  4061.876390

In [146]:
dataframe_1W.head(3)

               Open     High      Low    Close        Volume
Date
2019-01-06  3692.35  4079.04  3577.18  4041.01  17613.324374
2019-01-13  4041.01  4112.12  3484.33  3514.08  25660.630843
2019-01-20  3514.08  3760.00  3474.00  3533.49  20132.971531